table {
    width: 100%;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1 ;
    /* margin-right: 10px;  */
   
  }
  
  /* Adjust margin if necessary */
  .button-add-row {
    margin-right: 10px;
    background-color: #007bff; /* Blue background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    height: 60px; /* Set the desired height */
    padding: 0 16px; /* Adjust horizontal padding only */
    font-size: 16px; /* Font size */
    line-height: 40px; /* Match line-height to height for vertical centering */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition */
    display: inline-block; /* Ensure it's inline with other elements */
    vertical-align: middle; /* Align with other elements vertically */
    width: 150px ;
  }
  .button-add-row:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }  
