
.button-add-row {
  margin-right: 10px;
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 16px; /* Padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s; /* Smooth transition */
  width: 25%;
  align-self: flex-end;
}

.button-add-row:hover {
  background-color: #0056b3; /* Darker blue on hover */
}  

.form-container {
    max-width: 500px; /* Adjust as needed */
    margin:  auto; /* Center the form horizontally */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block; /* Ensure labels are on their own line */
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;    
  }
  
  button[type="submit"] {
    background-color: #28a745; /* Green */
    color: #fff;
    
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    opacity: 0.8; /* Reduce opacity on hover */
  }

  button[type="button"] {
    background-color: red; /* Red */
    color: #fff;
    /* color: #fff; */
    
  }
  
  .buttons-container {
    text-align: center; /* Align buttons in the center */
  }
  